# Class Project

## Top Five Career on the year 1999

In [72]:
import pandas as pd
import numpy as np

fn = '../input/forbes_celebrity_list.csv'
df = pd.read_csv(fn)

In [73]:
df

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
5,1999,6,Spice Girls,United Kingdom,Musicians,0,Spice_Girls
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
7,1999,8,Robin Williams,United States,Actor,0,Robin_Williams
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
14,2000,5,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
18,2000,9,Cher,United States,Musician,0,Cher
19,2000,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
25,2001,6,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
27,2001,8,NSYNC,United States,Musicians,0,NSYNC
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
29,2001,10,Mel Gibson,United States,Actor,0,Mel_Gibson
...,...,...,...,...,...,...,...
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
175,2016,4,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
176,2016,4,Dr. Phil McGraw,United States,Television Personality,0,Phil_McGraw
177,2016,6,Kevin Hart,United States,Actor,0,Kevin_Hart
178,2016,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
179,2016,8,Lionel Messi,Argentina,Sportsperson (Association Football),0,Lionel_Messi
180,2016,9,Adele,United Kingdom,Musician,0,Adele
181,2016,10,Rush Limbaugh,United States,Radio Personality,0,Rush_Limbaugh
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
185,2017,4,Drake,Canada,Musician,0,Drake_(musician)
186,2017,5,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
187,2017,6,The Weeknd,Canada,Musician,0,The_Weeknd
188,2017,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
190,2017,9,James Patterson,United States,Author,0,James_Patterson
191,2017,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
199,2018,8,Lionel Messi,Argentina,Athlete (Association football),0,Lionel_Messi
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran
201,2018,10,Cristiano Ronaldo,Portugal,Athlete (Association football),0,Cristiano_Ronaldo

In [74]:
df.head()

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg

In [80]:
year = df[(df['year'] == 1999)]
sorted_v = year.sort_values(by=["year", "rank"], ascending=True)

sorted_career = sorted_v.groupby(["career"]).size().to_frame('Top 5 Careers 1999')
sorted_career.head()

                           Top 5 Careers 1999
career
Actor                                       4
Filmmaker                                   1
Musician                                    1
Musicians                                   2
Sportsperson (Basketball)                   1